<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="EMPLOYEE" value="job"/>
  <add key="dir" value="C:\\Program Files\\Firebird\\Firebird_2_5\\examples\\empbuild\\EMPLOYEE.FDB;"/>
  <add key="UID" value="SYSDBA"/>
  <add key="PWD" value="kiambu"/>
  </appSettings>
 </configuration>